/** Primary page containers **/
/*****************************/

body {
  margin: 0;
  font-family: Verdana;
  font-size: 16px;
  background-color: dodgerblue;
}

.main {
  position: static;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.box-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    border-style: double;
    border-width: 20px;
    border-color: blue;
    margin: 10px;
    padding: 10px;;
}

/** Context specific unique containers **/
/****************************************/

#main-canvas {
  /* width: 80%;
  height: 600px; */
  border-style: solid;
  border-width: 16px;
  border-color: lightskyblue;
  margin: 1px;
  padding: 1px;
  border-radius: 100px;
  background-color: darkgreen;
}


/** Generic Styling **/
/*********************/

.hidden {
  display: none;
}

.content-centered {
  text-align: center;
}


